{% extends "homepage/base.html" %}
{% include "homepage/home.html" %}
{% block content %}
	<div class="ml-3">
	<h1>Posts by: {{ user.username }}</h1>
	<form method=POST action="{% url 'search-posts' %}">
		{% csrf_token %}
		<input type="search" name="searched" placeholder="Searched">
		<button type="submit">Submit</button>
	</form>
	</div>
	<br>
	{% for post in posts %}
	{% if request.user == post.author %}
	<div class="border w-25 border-dark ml-3">
	<div class="ml-3">
	<p> {{ view.kwargs.username }} </p>
	<a href="#">{{ post.author }}</a>
	{{ post.date_posted }}
	<h3><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
	<p>{{ post.content }}</p>
	<p>{{ post.location }}</p>
	<p>{{ post.department }}</p>
	<p>{{ post.function }}</p>
	</div>
	</div>
	<br>
	{% endif %}
	{% endfor %}
	<div class="ml-3">
		{% if is_paginated %}
	
			{% if page_obj.has_previous %}
			<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
	
			{% endif %}
			{% for num in page_obj.paginator.page_range %}
				{% if page_obj.number == num %} 
				<a class="btn btn-info mb-4" href="?page {{ num }}">{{ num }}</a>
				{% elif num > page_obj.number|add:'-3' %}
				<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
				{% endif %}
			{% endfor %} 
			{% if page_obj.has_next %} 
				<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
				<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
			{% endif %} 
		{% endif %}
		</div>
{% endblock content %}